In [ ]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd

In [ ]:
x = [8.0, 5.7, 7.8, 2.5, 3]
x_with_nan = [8.0, 1, 9.7, math.nan, 4]

print(x)
x_with_nan

[8.0, 5.7, 7.8, 2.5]

[8.0, 9.7, nan, 4]

In [ ]:
y, y_with_nan = np.array(x), np.array(x_with_nan)
z, z_with_nan = pd.Series(x), pd.Series(x_with_nan)
print(y)
print(y_with_nan)
print(z)
print(z_with_nan)

[8.  5.7 7.8 2.5]
[8.  9.7 nan 4. ]
0    8.0
1    5.7
2    7.8
3    2.5
dtype: float64
0    8.0
1    9.7
2    NaN
3    4.0
dtype: float64

In [ ]:
mean_ = sum(x)/len(x)
mean_

6.0

In [ ]:
mean_ = statistics.mean(x)
mean_

6.0

In [ ]:
mean_ = statistics.fmean(x)
mean_

6.0

In [ ]:
np.nanmean(y_with_nan)

7.233333333333333

In [ ]:
x = [8.0, 1, 2.5, 4, 28.0]
y, z, w  = np.array(x), pd.Series(x), np.array(w)
vmean = np.average(y, weights=w)
vmean

20.028735632183906

In [ ]:
vmean =np.average(z, weights=w)
vmean

20.028735632183906

In [ ]:
hmean = statistics.harmonic_mean(x)
hmean

2.7613412228796843

In [ ]:
scipy.stats.gmean(y)

4.67788567485604

In [ ]:
scipy.stats.gmean(z)

4.67788567485604

In [ ]:
cart = { 'Products': ['mobile', 'AC', 'Mobile', 'Sofa', 'Laptop'],
        'Price': [20000, 28000, 22000, 19000, 45000],
         'Year': [2014, 2015, 2016, 2017, 2018]
}
df = pd.DataFrame(cart, columns = ['Products', 'Price', 'Year'])
print('Original DF: \n', df)
stats = df['Price'].describe()
print('\nDescriptive statistics of Price:\n')
print(stats)

Original DF:
   Products  Price  Year
0   mobile  20000  2014
1       AC  28000  2015
2   Mobile  22000  2016
3     Sofa  19000  2017
4   Laptop  45000  2018

Descriptive statistics of Price:

count        5.000000
mean     26800.000000
std      10756.393448
min      19000.000000
25%      20000.000000
50%      22000.000000
75%      28000.000000
max      45000.000000
Name: Price, dtype: float64